<h2>Resident Names</h2>
<div class="list-group">
    <div *ngFor="let resident of residents" class="list-group-item">
        <h1> {{resident.name}}</h1>
        <table class="mytable">
            <thead>
                <tr>
                    <th class="header">Age:</th>
                    <th class="header">Product:</th>
                    <th class="header">Vaccine:</th>
                    <th class="header">Date:</th>
                </tr>

            </thead>
           
        </table>
    </div>
</div>